/* 
 *  Color
 *  Source: https://coolors.co/413c58-a3c4bc-bfd7b5-e7efc5-f2e7c9
 */
$color-primary: #A3C4BC;
$color-secondary: #BFD7B5;
$color-tertiary: #E7EFC5;
$color-quaternary: #F2E7C9;
$color-darken: #413C58;

/*
 *  Size
 */
$headerHeight: 60px;
$mobileHeaderHeight: 40px;
$containerWidth: 1000px;